@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/aos/dist/aos';
@import './_fonts';
@import './_vars';
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    resize: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    &::selection {
        color: #000;
        background-color: #fff;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #454545;
    }
}

.container {
    max-width: 1430px;
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

@keyframes flying {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191B24;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition: .4s;
  &__circle {
    transform-origin: center;
    stroke-dasharray: 900;
    transition: 1s;
    fill: transparent;
  }
  &__line {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}

.anim-circle {
  animation: preloader 1s infinite alternate ease;
}

.anim-line {
  animation: stroke-line 5s forwards ease;
  animation-delay: .8s;
}

.end-anim-circle {
  stroke-dashoffset: 0;
  stroke: #60E1B7;
  fill: #60E1B7;
}

@keyframes preloader {
  0% {
    stroke-dashoffset: 900;
    transform: rotateZ(0deg);
    stroke: #4198E1;
  }
  25% {
    stroke: #C4FCE0;
  }
  50% {
    stroke: #5DFCE0;
  }
  100% {
    stroke-dashoffset: 400;
    transform: rotateZ(360deg);
    stroke: #5DC4E0;
  }
}

@keyframes stroke-line {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes border-line-1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes border-line-2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes border-line-3 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes border-line-4 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}