@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/aos/dist/aos';
@import './_fonts';
@import './_vars';
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    resize: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
    &::selection {
        color: #000;
        background-color: #fff;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #454545;
    }
}

.container {
    max-width: 1430px;
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

@keyframes flying {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.preolader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191B24;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition: .4s;
  &__list {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &-item {
      position: relative;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: linear-gradient(45deg, #4265E1, #42A5E1);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        background: linear-gradient(45deg, #4265E1, #42A5E1);
        opacity: .7;
        animation: preolader-circle infinite 1.5s ease-in;
      }
      &:nth-child(2) {
        &::before {
          animation-delay: 1.5s;
        }
      }
      &:nth-child(3) {
        &::before {
          animation-delay: 3s;
        }
      }
      &:nth-child(4) {
        &::before {
          animation-delay: 4.5s;
        }
      }
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}

@keyframes preolader-circle {
  0% {
    transform: scale(1);
  }
  25% {
    opacity: .8;
    transform: scale(1);
  }
  50% {
    opacity: .4;
    transform: scale(2);
  }
  75% {
    opacity: .2;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

@keyframes border-line-1 {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes border-line-2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes border-line-3 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes border-line-4 {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}