$height-left-sidebar: 50px;
%montserrat-500 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

%fira-sans-700 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
}

%roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}